@import 'vars';

.s-q-item {
  /* Fonts */
  --bellevue-font-sans: BeausiteFit-Regular, Helvetica, serif;
  --bellevue-font-sans-medium: BeausiteFit-Medium, Helvetica, serif;
  --bellevue-font-sans-bold: BeausiteFit-Bold, Helvetica, sans-serif;
  --bellevue-font-sans-display: BeausiteSlick-Regular, Helvetica, serif;
  --bellevue-font-sans-display-medium: BeausiteSlick-Medium, Helvetica, serif;
  --bellevue-font-sans-display-bold: BeausiteSlick-Bold, Helvetica, serif;
  --bellevue-font-body-text: DamienText-Regular, Georgia, serif;
  --bellevue-font-body-text-medium: DamienText-Medium, Georgia, serif;
  --bellevue-font-body-text-semibold: DamienText-Semibold, Georgia, serif;
  --bellevue-font-body-text-bold: DamienText-Bold, Georgia, serif;
}

@mixin font-color() {
  color: $font-color;
}

@mixin light-color() {
  color: rgba(from $font-color r g b / 0.6)
}

@mixin family-and-weight($fontfamily, $fontweight) {
  font-weight: $fontweight;
  font-family: $fontfamily;
}

@mixin s-font-text() {
  @include family-and-weight(var(--bellevue-font-body-text), $font-weight-serif-regular);
  @include font-color;
}

.s-font-text-s {
  line-height: $font-text-s-line-height;
  font-size: $font-text-s-size;
  @include s-font-text;

  &--strong {
    @include family-and-weight(var(--bellevue-font-body-text-medium), $font-weight-serif-medium);
  }
}

.s-font-text {
  font-size: $font-text-size;
  line-height: $font-text-line-height;
  @include s-font-text;

  &--strong {
    @include family-and-weight(var(--bellevue-font-body-text-medium), $font-weight-serif-medium);
  }
}

@mixin s-font-note() {
  @include family-and-weight(var(--bellevue-font-sans), $font-weight-sans-medium);
  @include font-color;

  &--strong {
    @include family-and-weight(var(--bellevue-font-sans-medium), $font-weight-sans-medium);
  }

  &--light {
  }

  // Use to enable fixed-width numerals for charts and tables
  &--tabularnums {
    font-feature-settings: 'tnum' 1; // Fallback for IE11
    font-variant-numeric: tabular-nums; // Modern browsers
  }
}

.s-font-note-s {
  font-size: $font-note-s-size;
  line-height: $font-note-s-line-height;
  @include s-font-note;
}

.s-font-note {
  font-size: $font-note-size;
  line-height: $font-note-line-height;
  @include s-font-note;
}

@mixin s-font-title() {
  @include family-and-weight(var(--bellevue-font-sans-display-medium), $font-weight-sans-medium);
  @include font-color;
}

.s-font-title-s {
  @include s-font-title;
  font-size: $font-title-s-size;
  line-height: $font-title-s-line-height;
}

.s-font-title {
  @include s-font-title;
  font-size: $font-title-size;
  line-height: $font-title-line-height;
}

.s-font-title-l {
  @include s-font-title;
  font-size: $font-title-l-size;
  line-height: $font-title-l-line-height;
}

.s-font-serif {
  @include family-and-weight(var(--bellevue-font-body-text), $font-weight-serif-regular);
}

.s-font-sans {
  @include family-and-weight(var(--bellevue-font-sans), $font-weight-sans-regular);
}

@mixin s-font-ui() {
  @include family-and-weight(var(--bellevue-font-sans), $font-weight-sans-regular);
  @include font-color;

  &--strong {
    @include family-and-weight(var(--bellevue-font-sans-medium), $font-weight-sans-medium);
  }

  &--light {
    font-weight: $font-weight-sans-light;
  }

  // Use to enable fixed-width numerals for charts and tables
  &--tabularnums {
    font-feature-settings: 'tnum' 1; // Fallback for IE11
    font-variant-numeric: tabular-nums; // Modern browsers
  }
}

.s-font-ui {
  font-size: $font-ui-size;
  line-height: $font-ui-line-height;
  @include s-font-ui;
}

.s-font-ui-s {
  font-size: $font-ui-s-size;
  line-height: $font-ui-s-line-height;
  @include s-font-ui;
}