$font-family-sans-display: var(--bellevue-font-sans-display);
$font-family-sans: var(--bellevue-font-sans);
$font-family-serif-display: var(--bellevue-font-serif-display);
$font-family-serif: var(--bellevue-font-serif);

// --q-primary-text-color is defined in nzzdev/sophie-q
// .s-q-item
$font-color: var(--black, #060821);

$font-weight-serif-regular: 300;
$font-weight-serif-medium: 500;
$font-weight-serif-bold: 700;

$font-weight-sans-light: 100;
$font-weight-sans-regular: 300;
$font-weight-sans-medium: 500;
$font-weight-sans-semibold: 600;
$font-weight-sans-bold: 700;

$font-text-s-size: 1rem;
$font-text-s-line-height: 1.5rem;

$font-text-size: 1.125rem;
$font-text-line-height: 1.5625rem;

$font-note-s-size: 0.75rem;
$font-note-s-line-height: 1.25rem;

$font-note-size: .875rem;
$font-note-line-height: 1.3125rem;

$font-title-s-size: .875rem;
$font-title-s-line-height: 1.3125rem;

$font-title-size: 1.125rem;
$font-title-line-height: 1.5625rem;

$font-title-l-size: 1.5rem;
$font-title-l-line-height: 1.8125rem;

// Based on https://www.figma.com/file/QqppDkF7HeCWmet6IS7Y4Y/NZZ-Design-System-2020?node-id=22%3A136
$font-ui-size: 1rem; // This is currently 16px
$font-ui-line-height: 1.5rem; // This translates to 24px

$font-ui-s-size: 0.875rem; // This would correspondent to 14px
$font-ui-s-line-height: 1.375rem; // This would correspondent to 22px